@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
/*
* Color Palette
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  transition: 0.3s;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

ul {
  list-style-type: none;
}

.light {
  color: #ffffff;
}

.hidden {
  overflow-y: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex.flex_column {
  flex-direction: column;
}

/*header*/
.header {
  width: 100%;
  height: 100%;
  padding: 2rem 0 6rem 0;
  background: #FE866E url(../../../images/bg-pattern-intro.svg) no-repeat 35% 53%/173%;
  border-bottom-left-radius: 7.9rem;
  margin-bottom: 12rem;
}
.header .main_nav {
  justify-content: space-between;
}
.header .main_nav .hamburger_menu {
  display: none;
  cursor: pointer;
  font-size: 2.6rem;
  color: #fff;
}
.header .main_nav .main_menu {
  flex-grow: 1;
  margin-left: 4rem;
  justify-content: flex-start;
}
.header .main_nav .main_menu .close {
  display: none;
  font-size: 2.6rem;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 1.2rem;
}
.header .main_nav .main_menu .btns {
  margin-left: auto;
}
.header .main_nav .main_menu li {
  margin: 0 2rem;
}
.header .main_nav .main_menu li a {
  position: relative;
  display: inline-block;
}
.header .main_nav .main_menu li a::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  background-color: #ffffff;
  height: 0.2rem;
  width: 0;
  transition: 0.3s ease-in-out;
}
.header .main_nav .main_menu li a:hover::after {
  width: 100%;
}
.header .main_nav .main_menu li a.btn::after {
  display: none;
}
.header .main_nav .logo img {
  max-width: 8rem;
}
.header .intro_content {
  margin-top: 10rem;
  text-align: center;
}
.header .intro_content h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.header .intro_content p {
  margin-bottom: 3.2rem;
  font-size: 1.6rem;
}
.header .btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 1px solid #ffffff;
  border-radius: 2.5rem;
  margin: 0 0.5rem;
  font-size: 1.6rem;
}
.header .btn.start_free:hover {
  background-color: #FE7C88;
  color: #ffffff;
  border-color: transparent;
}
.header .btn.learn_more:hover {
  background-color: #ffffff;
  color: #FE7C88;
}
.header .btn.login, .header .btn.signup {
  border: none;
}
.header .btn.login:hover, .header .btn.signup:hover {
  background-color: #FE7C88;
}

/*editor section*/
.editor_section, .feature_section {
  position: relative;
  margin-bottom: 35rem;
}
.editor_section .title, .feature_section .title {
  font-size: 3.2rem;
  text-align: center;
  color: #213E58;
  margin-bottom: 10rem;
}
.editor_section .content, .feature_section .content {
  justify-content: space-between;
}
.editor_section .content .text_content, .feature_section .content .text_content {
  width: 40%;
}
.editor_section .content .text_content.feature_content, .feature_section .content .text_content.feature_content {
  margin-left: auto;
  padding-top: 8rem;
}
.editor_section .content .text_content .text_info, .feature_section .content .text_content .text_info {
  margin-bottom: 5rem;
}
.editor_section .content .text_content .text_info:nth-last-child(1), .feature_section .content .text_content .text_info:nth-last-child(1) {
  margin: 0;
}
.editor_section .content .text_content .text_info h2, .feature_section .content .text_content .text_info h2 {
  color: #213E58;
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
}
.editor_section .content .text_content .text_info p, .feature_section .content .text_content .text_info p {
  color: #A9ACB1;
  line-height: 2.5rem;
  font-size: 1.6rem;
}
.editor_section .content .image_content, .feature_section .content .image_content {
  width: 60%;
  position: absolute;
  right: -16%;
  top: -8%;
}
.editor_section .content .image_content.feature, .feature_section .content .image_content.feature {
  left: -16%;
}
.editor_section .content .image_content img, .feature_section .content .image_content img {
  width: 100%;
}

/*infrastructure*/
.infrastructure {
  width: 100%;
  background: #363851 url(../../../images/bg-pattern-circles.svg) no-repeat -60% 82%/74%;
  margin-bottom: 20rem;
  border-top-right-radius: 7.9rem;
  border-bottom-left-radius: 7.9rem;
}
.infrastructure .content .image {
  width: 50%;
  margin-top: -6%;
  padding-right: 4rem;
}
.infrastructure .content .image img {
  width: 100%;
}
.infrastructure .content .text_info {
  width: 50%;
  margin-top: -8rem;
}
.infrastructure .content .text_info h2 {
  color: #ffffff;
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
}
.infrastructure .content .text_info p {
  color: #A9ACB1;
  line-height: 2.5rem;
  font-size: 1.6rem;
}

/*footer*/
.footer {
  background-color: #24242C;
  padding: 3.6rem 0;
  border-top-right-radius: 7.9rem;
}
.footer .footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.footer .footer_content .logo_footer img {
  width: 10rem;
}
.footer .footer_content .footer_link h4 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 2rem;
}
.footer .footer_content .footer_link a {
  line-height: 3rem;
  color: #A9ACB1;
  font-size: 1.5rem;
}
.footer .footer_content .footer_link a:hover {
  color: #ffffff;
}

/*responsive styles*/
@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  /*responsive menu*/
  .header .main_nav .main_menu {
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    margin: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    background-color: #FF6663;
    z-index: 1000;
    transition: 0.3s ease-in-out 200ms;
  }
  .header .main_nav .main_menu li {
    margin: 1rem 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .header .main_nav .main_menu .close {
    display: block;
  }
  .header .main_nav .main_menu.show {
    width: 50%;
    overflow: visible;
    transition: 0.3s ease-in-out;
  }
  .header .main_nav .main_menu.show li, .header .main_nav .main_menu.show .btns {
    opacity: 1;
    transition: 0.3s ease-in-out 200ms;
  }
  .header .main_nav .btns {
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .header .main_nav .btns .btn {
    display: inline-block;
  }
  .header .main_nav .hamburger_menu {
    display: block;
    position: absolute;
    right: 3rem;
  }
  .header .intro_content {
    margin-top: 6rem;
  }
  .header .intro_content h1 {
    font-size: 3rem;
  }
  .header .intro_content .btns .btn {
    display: block;
    margin-bottom: 1.2rem;
  }

  .editor_section, .feature_section {
    margin-bottom: 10rem;
  }
  .editor_section .title, .feature_section .title {
    margin-bottom: 4rem;
  }
  .editor_section .content, .feature_section .content {
    flex-direction: column-reverse;
  }
  .editor_section .content .text_content, .feature_section .content .text_content {
    width: 100%;
    text-align: center;
  }
  .editor_section .content .text_content.feature_content, .feature_section .content .text_content.feature_content {
    margin: 0;
    padding: 0;
  }
  .editor_section .content .image_content, .feature_section .content .image_content {
    width: 100%;
    right: 0;
    position: static;
    margin-bottom: 3rem;
  }

  .infrastructure {
    background: #363851;
    padding: 4rem 0;
    margin-bottom: 6rem;
  }
  .infrastructure .content {
    flex-direction: column;
    text-align: center;
  }
  .infrastructure .content .image {
    width: 100%;
    padding: 0;
    margin-bottom: 8rem;
  }
  .infrastructure .content .text_info {
    width: 100%;
  }

  .footer .footer_content {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .footer_content .logo_footer {
    grid-column: 1/4;
    margin-bottom: 2rem;
    text-align: center;
  }
  .footer .footer_content .footer_link {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .editor_section .title, .feature_content .title {
    font-size: 2.5rem;
  }

  .infrastructure .content .text_info h2 {
    font-size: 2rem;
  }

  .footer .footer_content {
    grid-template-columns: 1fr;
  }
  .footer .footer_content .logo_footer {
    grid-column: 1/1;
    margin-bottom: 2rem;
    text-align: center;
  }
  .footer .footer_content .footer_link {
    margin-bottom: 1.8rem;
  }
  .footer .footer_content .footer_link:last-child {
    margin: 0;
  }
}/*# sourceMappingURL=index-style.css.map */