/*
* Color Palette
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  transition: 0.3s;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

ul {
  list-style-type: none;
}

.light {
  color: #ffffff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex.flex_column {
  flex-direction: column;
}

/*header*/
.header {
  width: 100%;
  height: 42rem;
  padding: 2rem 0;
  background: #FE866E url(../../../images/bg-pattern-intro.svg) no-repeat 35% 53%/173%;
  border-bottom-left-radius: 7.9rem;
  margin-bottom: 12rem;
}
.header .main_nav {
  justify-content: space-between;
}
.header .main_nav .main_menu {
  flex-grow: 1;
  justify-content: flex-start;
  margin-left: 4rem;
}
.header .main_nav .main_menu li {
  margin: 0 2rem;
}
.header .main_nav .main_menu li a {
  position: relative;
  display: inline-block;
}
.header .main_nav .main_menu li a::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  background-color: #ffffff;
  height: 0.2rem;
  width: 0;
  transition: 0.3s ease-in-out;
}
.header .main_nav .main_menu li a:hover::after {
  width: 100%;
}
.header .main_nav .logo img {
  max-width: 8rem;
}
.header .intro_content {
  height: 35rem;
  text-align: center;
}
.header .intro_content h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.header .intro_content p {
  margin-bottom: 3.2rem;
  font-size: 1.6rem;
}
.header .btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 1px solid #ffffff;
  border-radius: 2.5rem;
  margin: 0 0.5rem;
  font-size: 1.6rem;
}
.header .btn.start_free:hover {
  background-color: #FE7C88;
  color: #ffffff;
  border-color: transparent;
}
.header .btn.learn_more:hover {
  background-color: #ffffff;
  color: #FE7C88;
}
.header .btn.login, .header .btn.signup {
  border: none;
}
.header .btn.login:hover, .header .btn.signup:hover {
  background-color: #FE7C88;
}

/*editor section*/
.editor_section, .feature_section {
  height: 75rem;
  position: relative;
}
.editor_section .title, .feature_section .title {
  font-size: 3.2rem;
  text-align: center;
  color: #213E58;
  margin-bottom: 10rem;
}
.editor_section .content, .feature_section .content {
  justify-content: space-between;
}
.editor_section .content .text_content, .feature_section .content .text_content {
  width: 40%;
}
.editor_section .content .text_content.feature_content, .feature_section .content .text_content.feature_content {
  margin-left: auto;
}
.editor_section .content .text_content .text_info, .feature_section .content .text_content .text_info {
  margin-bottom: 5rem;
}
.editor_section .content .text_content .text_info:nth-last-child(1), .feature_section .content .text_content .text_info:nth-last-child(1) {
  margin: 0;
}
.editor_section .content .text_content .text_info h2, .feature_section .content .text_content .text_info h2 {
  color: #213E58;
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
}
.editor_section .content .text_content .text_info p, .feature_section .content .text_content .text_info p {
  color: #A9ACB1;
  line-height: 2.5rem;
  font-size: 1.6rem;
}
.editor_section .content .image_content, .feature_section .content .image_content {
  width: 60%;
  position: absolute;
  right: -16%;
  top: -8%;
}
.editor_section .content .image_content.feature, .feature_section .content .image_content.feature {
  left: -16%;
}
.editor_section .content .image_content img, .feature_section .content .image_content img {
  width: 100%;
}

/*infrastructure*/
.infrastructure {
  width: 100%;
  height: 35rem;
  margin-top: 10rem;
  background: #363851 url(../../../images/bg-pattern-circles.svg) no-repeat -60% 82%/74%;
  margin-bottom: 20rem;
  border-top-right-radius: 7.9rem;
  border-bottom-left-radius: 7.9rem;
}
.infrastructure .content .image {
  width: 50%;
  margin-top: -6%;
  padding-right: 4rem;
}
.infrastructure .content .image img {
  width: 100%;
}
.infrastructure .content .text_info {
  width: 50%;
  margin-top: -8rem;
}
.infrastructure .content .text_info h2 {
  color: #ffffff;
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
}
.infrastructure .content .text_info p {
  color: #A9ACB1;
  line-height: 2.5rem;
  font-size: 1.6rem;
}

/*footer*/
.footer {
  background-color: #24242C;
  padding: 3.6rem 0;
}
.footer .footer_content {
  justify-content: space-between;
}
.footer .footer_content .logo_footer {
  align-self: flex-start;
}
.footer .footer_content .links_footer {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 10rem;
}
.footer .footer_content .links_footer h4 {
  display: flex;
  font-size: 2rem;
  align-items: center;
  color: #ffffff;
  margin-bottom: 2rem;
}
.footer .footer_content .links_footer li {
  line-height: 3rem;
}
.footer .footer_content .links_footer li a {
  color: #A9ACB1;
  font-size: 1.5rem;
}
.footer .footer_content .links_footer li a:hover {
  color: #ffffff;
}

/*# sourceMappingURL=index-style.css.map */
